<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      lang="fr">
<head>
    <title>Tableau de bord</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-4">
                    <i class="fas fa-home me-2"></i>Bienvenue sur HoneyAI
                </h1>
                <div class="card">
                    <div class="card-body">
                        <p class="lead mb-0">
                            Application de gestion pour l'exploitation apicole familiale.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
